.component-hero-banner {
    @include padded-container;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 20rem;
    
    h1 {            
        padding-bottom: 3rem;
        font-size: 1.25rem;

        @media screen and (min-width: $tablet-breakpoint) {
            font-size: 2rem;
        }
    }
}

.hero-header {

    @media screen and (min-width: $tablet-breakpoint) {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}
