// fonts
$logo: 'Pacifico', cursive;
$page-heading: 'Libre Franklin', san serif;
$body-text: 'Josefin Sans', sans-serif;



// colours
$white: #ffffff;
$blue: #1BA8F1;


// media query
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

// mixin
@mixin padded-container {
    position: relative;
    height: 100%;
    padding: 0 3rem;

    @media screen and (min-width: $tablet-breakpoint) {
        padding: 0 5rem;
    }
}


