@import "shared";

.component-desktop-navigation {
    ul {
        display: none;
        color: $white;
        font-family: $body-text;
        font-weight: 100;
        font-size: 1.25rem;

        @media screen and (min-width: $tablet-breakpoint) {
            display: flex;
            margin: 4rem 0;
        }

        li {
            margin: 1rem;
            line-height: 1.5rem;
            cursor: pointer;
        }
    }
}
