.page-itinerary-planner-trips {
    @include padded-container;
    font-family: $body-text;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;

    @media screen and (min-width: $desktop-breakpoint) {
        align-content: space-around; 
        flex-wrap: nowrap;  
    }

    @media screen and (max-width: $tablet-breakpoint) {
        justify-content: center;
    }

    .itinerary-duration {
        font-style: italic;
    }

    .component-trip-preview {
        margin: 1.5rem 0;
        padding: 1rem 3rem;
        border-radius: 2rem;
        background-color: lightgray;
        width: 230px;
        height: 175px; 

        @media screen and (min-width: $tablet-breakpoint) {
            margin: 1.5rem;  
        }

        @media screen and (min-width: $desktop-breakpoint) {
            min-width: 170px;
            width: 400px;   
        }
    }
}



