#page-itinerary-planner-trips {
    @include padded-container;
    font-family: $body-text;

    @media screen and (min-width: $tablet-breakpoint) {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap; 
        align-content: space-around;   
    }

    @media screen and (min-width: $desktop-breakpoint) {
        flex-wrap: nowrap;    
    }

    .itinerary-duration {
        font-style: italic;
    }

    .component-trip-preview {
        margin: 2.5rem;
        padding: 1rem 3rem;
        border-radius: 2rem;
        background-color: lightgray;
        width: 230px;
        height: 230px; 

        @media screen and (min-width: $tablet-breakpoint) {
            margin: 1.5rem;
            width: 170px;
            height: 175px;   
        }
    }
}

